name: PR Description Check

on:
  pull_request:
    types:
      [
        opened,
        edited,
        reopened,
        labeled,
        unlabeled,
        ready_for_review,
        synchronize,
      ]

jobs:
  check-pr-description:
    runs-on: ubuntu-latest

    env:
      PR_DESCRIPTION: "${{ github.event.pull_request.body }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check PR Description
        run: |
          if [[ ${{ !contains('$PR_DESCRIPTION' ,'OVERRIDE=PR_DESCRIPTION_CHECK_OVERRIDE') }} ]]; then
              bash scripts/check_pr_description.sh '$PR_DESCRIPTION'
          else
              echo "This check was overridden by PR_DESCRIPTION_CHECK_OVERRIDE in the PR description"
          fi
